@font-face {
  font-family: 'Oswald';
  src: url(Oswald-VariableFont_wght.ttf);
}
@font-face {
  font-family: 'Roboto';
  src: url(Roboto-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar{
  background-color: #0558C5;
}

.fondo-quienessomos{
  display: flex;
  background-color: #0558C5;
  border-radius: 0px 0px 100% 100%;
  
  animation-name: bg;
  animation-duration: 4s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  
}
@keyframes bg{
  from {
    
    border-radius: 0px 0px 30% 50%;
  }
 to {
    border-radius: 0px 0px 100% 100%;
    
  }
  to {
    border-radius: 0px 0px 80% 70%;
    
  }
}

.quienes-somos{
  padding-bottom: 0px;
}
.quienes-somos h1{
  font-size: 6rem;
  padding-left: 60px;
  padding-top: 20px;
  color: white;
  font-family: 'Oswald';
}
.quienes-somos h2{
  padding-top: 10px;
  padding-left: 100px;
  font-family: 'Oswald';
  color: white;
}
.quienes-somos h5{
  font-family: 'Roboto';
  color: white;
  padding-top: 30px;
  font-size: 0.9rem;
  padding-left: 120px;
}
.lottie{
  
  width: 60%;
}

header .navbar-main .active {
  text-decoration: underline white;
  text-underline-offset: 30%;
}
header .container-fluid a {
  color: white;
}
header .nav-item a {
  color: white;
}
header a.nav-link:hover {
  color: gray;
}
header a.navbar-brand:hover {
  color: gray;
}
header nav ul li {
  list-style: none;
  float: left;
}
.footer {
  text-align: center;
  background-color: black;
  color: white;
}
.footer .behanceto {
  text-decoration: none;
  color: white;
}
.footer .mailto {
  text-decoration: none;
  color: white;
}
.footer .mailto:hover {
  color: gray;
}
.footer .behanceto:hover {
  color: gray;
}
.conversor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  margin-top: 100px;
}
section .form-title {
  padding: 30px;
}
.input h4 {
  padding: 10px;
}

.line-charts{
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
  
}